{
  "extends": ["eslint-config-es2015-react"],
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "rules": {
      "keyword-spacing": 2,
      "space-before-keywords": 0,
      "space-after-keywords": 0,
      "space-return-throw-case": 0,
      "max-len": [2, 100, 2, {"ignoreUrls": true}],
      "id-length": 0,
      "react/display-name": [2, {
        "ignoreTranspilerName": true,
      }]
  },
  "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
}